
*{
    padding: 0px 18px;
    margin: 0px;
    box-sizing: border-box;

}

#maindiv {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 0px;
    
}
.product {
    border: 1px solid #240505;
    padding: 10px;
    height: 550px;
    width: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 3%;
}
.product:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.product img {
    width: 80%;
    height: 180px;
}
.product p {
    margin: 5px 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}
.product button{
    width: 200px;
    height: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(142, 142, 230);
    text-align: center;
    margin: 30px 50px;

}
.product button :hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
#nav ul{
    width: 100%;
    height: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    padding-top: 15px;
    list-style-type: none;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: aliceblue;
    margin-top: 10px;
    font-size: 13px;
}
#nav li:hover{
    cursor: pointer;
    text-decoration: underline;
}